@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>

@using (Html.BeginForm("Pay", "Payment", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Amount to Pay")
        <input type="number" name="AmountPaid" class="form-control" step="0.01" />
    </div>
    <button type="submit" class="btn btn-primary">Pay with PayPal</button>
}
